@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Red+Rose:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  
  html {
    min-height: 100%;
    min-width: 100%;
  }
  
  body {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #110e09;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}


/*Configurações body*/

main img{
    margin: 0 auto;
    width: 40%;
}

.space{
    margin: 0 auto;
    color: whitesmoke;
    max-width: 500px;
    text-align: center;
    align-content: end;
}

.btn{
    border: none;
    padding: 20px;
    width: 100%;
    background-color: rgb(223, 100, 23);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 2vh;
    border-radius: 15px;
    box-shadow: 0 1vh 0 rgb(223, 70, 23);
}

.btn a {
    color: whitesmoke;
}

.btn:hover{
    background-color: rgb(169, 71, 14);
}


/*Configurações do modal*/


.modal-content {
    background-color: #131F24;
    border-radius: 10px;
}

.modal-title {
    font-size: 24px;
}

.modal-header{
    padding-right: 35px;
    border: none;
    max-height: 50px;
}

.modal-body{
    padding-top: 0px;
}

.close {
    color: #aaa;
    font-size: 24px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.form {
    margin: 40px 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 15px;
}

.form-control {
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

.modal-footer{
    border: none;
}
